@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

:root{
    --clr-primary-200: rgba(139, 245, 204, 0.493);
    --clr-primary-300: rgba(56, 78, 66, 0.493);
    --clr-headings-700: rgb(233, 211, 138);
    --clr-bg-primary-100: rgb(236, 236, 236);
    --fnt-primary-100: 'Arvo', serif;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.header{
    position: fixed;
    padding: 4rem 0;
    /* background: var(--clr-primary-200); */
    transition: all 0.5s ease-in-out;
    width: 100%;
}

.header.fixed{
    position: fixed;
    padding: 1rem 0;
    background: var(--clr-primary-200);
    transition: all 0.5s ease-in-out;
}
.header .logo{
    padding-left: 1.5625em;
    color: #fff;
    font-family: var(--fnt-primary-100);
}

.navbar{
    position: fixed;
    top: 4em;
    left: -6px;
    width: 100vw;

}
.navbar.fixed{
    position:fixed;
    top: 1em;
    transition: all 0.5s ease-in-out;
}

@media (min-width: 700px){
    .navbar{
        position: static;
    }
}

.navbar .menu-nav{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 1em;
    height: 50vh;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: top;
    cursor: pointer;
    transition: all 0.5s ease;
}

@media (min-width: 700px){
    .navbar .menu-nav{
        display: block;
        transform:translateY(0);
        background: transparent;
        text-align: right;
        height: 100%;
        overflow: visible;
    }

    .navbar .menu-nav__item{
        display: inline;
        padding-right: 1.5rem;
    }
}

.navbar .menu-nav__link{
    font-weight: 600;
    color: #333;
    padding: 1rem 0;
}

@media (min-width: 701px){
    .navbar .menu-nav__link{
        color: #fff;
    }

    .navbar .menu-nav__link:hover{
        border-bottom: 3px solid #333;
        transition: 0.5s ease;
        padding: 10px 5px;
    }
}

/* hero section */

.hero{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/IMG-20210208-WA0022.jpg) no-repeat center/cover;
    height: 100vh;
}

@media (max-width: 800px){
    .hero{
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/IMG-20210208-WA0022.jpg) no-repeat center/cover;
        height: auto;
        width: 100vw;
    }
}

.hero-intro .hero-title{
    max-width: 50.5rem;

}
.hero-intro .title{
    font-weight: 700;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15rem 25rem 0 25rem;
    text-align: center;
    color: var(--clr-headings-700);
    font-family: var(--fnt-primary-100);
}

.typed{
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    padding: 1em 25rem 1em 25rem;
    text-align: center;

}

/* about us section */

.about-us{
    padding: 2rem 0;
}

.about-us img{
    height: 200px;
    max-width: 100%;
    
}

.about-intro{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0;

}

.about-title{
    font-size: 40px;
    font-weight: 700;
    color: var(--clr-headings-700);
    font-family: var(--fnt-primary-100);
    padding: 2em 0;
}
.about-mku{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    
}
.about-mku__paragraph{
    text-align: center;
    max-width: 40rem;
    line-height: 1.5em;
    font-weight: 500;
    text-shadow: 1px 1px 1px #333;
    font-size: 20px;
    font-style: italic;
}

.about-container{
    padding: 0 5rem;
}

.split-about__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.abt__info{
    /* display: flex;
    flex-flow: column wrap;
    justify-content: center; */
    align-items: center;
    text-align: center;
    box-shadow: 3px 5px 5px 2px rgb(168, 214, 210);
    border-radius: 5px;
}

.abt-info__heading{

    font-weight: 700;
    font-family: var(--fnt-primary-100);
    padding: 1rem;
}

.abt__info .about-paragraph{
    line-height: 1.5em;
    font-weight: 500;
    font-size: 1.2em;
    padding: 1em;
}


/* Anyone can code section */
.who-codes{
    padding: 3rem 0;
    background-color: var(--clr-bg-primary-100);
}

.who-codes img{
    height: auto;
    max-width: 100%;
}

.who-container{
    padding: 0 4rem;
}

.split-who{
    display: grid;
    grid-template-columns: 1fr 1fr;
}